{% extends 'base.html.twig' %}

{% block body %}
    <h2>Learning vue.js component by component</h2>
    <ul>
        <li><a href="{{ path('default_todolist') }}">2019.10.09 | TODO List</a></li>
        <li><a href="{{ path('default_tictactoe') }}">2019.10.10 | TicTacToe</a></li>
        <li><a href="{{ path('default_minesweeper') }}">2019.10.14 | Minesweeper</a></li>
        <li><a href="{{ path('default_digitalclock') }}">2019.10.15 | Digital Clock</a></li>
        <li>Courses <ul>
                <li><a href="{{ path('course_1') }}">2019.10.15 | Monster Slayer</a></li>
                <li><a href="{{ path('course_2') }}">2019.10.16 | Vue Components</a></li>
            </ul></li>
    </ul>
{% endblock %}